#conda create -n sphinx python=3.10 -y
#conda activate sphinx
sphinx
myst-parser
sphinx-autobuild
sphinx-book-theme
pydata-sphinx-theme
furo
sphinxcontrib-bibtex
sphinx-copybutton
sphinx-togglebutton
myst-nb